#projects {
  padding: 20px;
  font-family: Poppins;
}

#projects h2 {
  text-align: center;
  margin-bottom: 20px;
}

#projects div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#projects div > div {
  width: 300px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

#projects div > div:hover {
  transform: scale(1.05);
}

#projects img {
  max-width: 100%;
  border-radius: 5px;
}

[data-aos="zoom-in"] {
  opacity: 0;
  transform: scale(0.8); 
  transition: opacity 2s, transform 2s;
}

[data-aos].aos-animate {
  opacity: 1;
  transform: scale(1);
}
