#skills {
  text-align: center;
  padding: 50px 0;
  background-color: #ffffff;
  font-family: Poppins;
}

.skills-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.skills-slider {
  display: flex;
  gap: 60px;
  animation: moveSkills 15s linear infinite;
}

.skill-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

@keyframes moveSkills {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
