#contact {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  font-family: Poppins, sans-serif;
}

#contact p {
  font-size: 1.1em;
  color: #555;
}

#contact p:first-child {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.social-icon {
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.2);
}

.instagram {
  color: #e4405f;
}

.github {
  color: #333;
}

.linkedin {
  color: #0077b5;
}
